
.stockContainer {
  padding: 10px;
  margin: 5px;
  background: var(--blue);
  border-radius: 20px;
}

.stockTitle {
  font-size: var(--font-size);
  text-transform:  uppercase;
}

.stockList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.stockItem {
  display:flex;
  justify-content: space-between;
  margin: 5px;
  font-size: var(--font-size);
  width: 180px;
}

.stockName {
  width:180px;
}

.stockAmount{
  width: 80px;
  opacity: 0.5;
}
