.exchangeContainer {
  padding: 10px;
  margin: 5px;
  background: var(--pastell);
  border-radius: 20px;
}

.exchangeTitle {
  font-size: 0.85rem;
  text-transform:  uppercase;
  padding: 9px 0;
}

.exchangeList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.exchangeItem {
  display: flex;
  margin: 5px;
  font-size: 0.85rem;
}

.exchangeName {
  width:100px;
}

.exchangeIndex{
  width: 50px;
  opacity: 0.5;
}

.exchangePercentage{
  width: 30px;
  opacity: 0.5;
}
