/* 
.infoCardContainer {
  display:flex;
  justify-content: space-between;
  margin: 5px 15px;
} */

.textContainer {
  display: flex;
  justify-content: space-between;
}
.infoContainer {
  text-transform: uppercase;
  font-size: 12px;
  background-color: var(--green);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
}


/* ought to be different from green */
.highlightMode {
  background-color: var(--green);
}