
.infoCardContainer {
  display:flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.infoCardContainer2 {
  display:flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.infoTitle {
  margin: 0;
  text-transform: uppercase;
}
