a { text-decoration: none; }

.headerContainer {
  max-width:fit-content;
  display: flex;
  justify-content: space-around;
}

.header {
  background: var(--background);
}

.logoContainer {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: -1px;
  font-size: 20px; 
  margin: 0px 15px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* .iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
} */

.iconList {
  display: flex;
}

.iconItem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.icon {
  background-color: #f5f5f5;
  color: black;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.userWrapper {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 500px;
  position: absolute;
  right: 10px;
  z-index: 1000;
}

.userName {
  border: 1px solid #f5f5f5;
  border-radius: 50px;
  padding: 6px 70px 6px 13px;
  background: #f5f5f5;
  position: relative;
  font-size: 20px;
}