html,
body {
  padding: 0;
  margin: 0;
  width: fit-content;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    color: var(--text);
}

.infoCardContainer {
  display:flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.infoCardContainer2 {
  display:flex;
  justify-content: space-between;
  margin: 5px 15px;
}

.infoTitle {
  margin: 0;
  text-transform: uppercase;
}