body, html {
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}


:root {
  --background: #fff;
  --font-color: #e5e5e5;
  --green: #C6E6D2;
  --yellow: #F3F6CB;
  --blue: #CDE1F4;
  --pastell: #EFE6EF;
}